<app-topbar></app-topbar>
<!-- banner-2 -->
<div class="page-head_agile_info_w3l">

</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
  <div class="agile_inner_breadcrumb">
    <div class="container">
      <ul class="w3_short">
        <li>
          <a href="index.html">Home</a>
          <i>|</i>
        </li>
        <li>{{car?.model?.make.name}}</li>
      </ul>
    </div>
  </div>
</div>
<!-- //page -->

<!-- Single Page -->
<div class="banner-bootom-w3-agileits py-5">
  <div class="container py-xl-4 py-lg-2">
    <!-- tittle heading -->
    <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
      <span>C</span>ar
     <span>D</span>etails
</h3>
    <!-- //tittle heading -->
    <div class="row">
      <div class="col-lg-5 col-md-8 single-right-left ">
        <div class="grid images_3_of_2">
          <div class="flexslider">
            <ul class="slides">
              <li [attr.data-thumb]="media?.url" *ngFor="let media of carMedia">
                <div class="thumb-image">
                  <img [src]="media?.url" data-imagezoom="true" class="img-fluid" alt="">
                </div>
              </li>
<!--              <carousel overflowCellsLimit="3">-->
<!--                <div class="carousel-cell" *ngFor="let media of carMedia">-->
<!--&lt;!&ndash;                  <img [src]="media?.url">&ndash;&gt;-->
<!--                  <picture>-->
<!--                    <source [srcset]="media?.url" type="image/webp" media="(min-width: 500px)" width="100%">-->
<!--                    <source [srcset]="media?.url" type="image/jpeg" media="(min-width: 500px)" width="100%">-->
<!--                    <img [srcset]="media?.url" alt="Image Unavailable" width="250px">-->
<!--                  </picture>-->
<!--                </div>-->
<!--              </carousel>-->
<!--              <li data-thumb="assets/images/si2.jpg">-->
<!--                <div class="thumb-image">-->
<!--                  <img src="assets/images/si2.jpg" data-imagezoom="true" class="img-fluid" alt=""> </div>-->
<!--              </li>-->
<!--              <li data-thumb="assets/images/si3.jpg">-->
<!--                <div class="thumb-image">-->
<!--                  <img src="assets/images/si3.jpg" data-imagezoom="true" class="img-fluid" alt=""> </div>-->
<!--              </li>-->
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-7 single-right-left simpleCart_shelfItem">
        <h3 class="mb-3"> {{car?.carName}}  (<span class="text-capitalize">{{car?.sellingCondition}}</span>,
          {{car?.exteriorColor}}, {{car?.model?.wheelType}})</h3>
        <p class="mb-3">
          <span class="item_price">₦{{car?.marketplacePrice | number}}</span>
          <del class="mx-2 font-weight-light">₦{{car?.marketplaceOldPrice | number}}</del>
<!--          <label>Free delivery</label>-->
        </p>

        <div class="product-single-w3l" style="border-top: none">
          <p class="my-3">
            <i class="far fa-hand-point-right mr-2"></i>
<!--            <label>1 Year</label>Manufacturer Warranty</p>-->
          <ul>
<!--            <li class="mb-1">-->
<!--              Engine Type: {{car?.engineType}}-->
<!--              Transmission: {{car?.transmission}}<br>-->
<!--              Transmission: {{car?.transmission}}<br>-->
<!--              Interior color: {{car?.interiorColor}}<br>-->
<!--              Exterior color: {{car?.exteriorColor}}<br>-->
<!--              VIN: {{car?.vin}}<br>-->
<!--              Mileage: {{car?.mileage}}<br>-->
<!--            </li>-->
            <li class="mb-1">
              Engine Type: {{car?.engineType}}
            </li>
            <li class="mb-1">
              Transmission: {{car?.transmission}}
            </li>
            <li class="mb-1">
              Interior color: {{car?.interiorColor}}
            </li>
            <li class="mb-1">
              Exterior color: {{car?.exteriorColor}}
            </li>
            <li class="mb-1">
              VIN: {{car?.vin}}
            </li>
            <li class="mb-1">
              Mileage: {{car?.mileage}}
            </li>
          </ul>
          <p class="my-sm-4 my-3">
            <i class="fas fa-retweet mr-3"></i>Net banking & Credit/ Debit/ ATM card
          </p>
        </div>
        <div class="occasion-cart">
          <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
            <form action="#" method="post">
              <fieldset>
                <input type="hidden" name="cmd" value="_cart" />
                <input type="hidden" name="add" value="1" />
                <input type="hidden" name="business" value=" " />
                <input type="hidden" name="item_name" value="Samsung Galaxy J7 Prime" />
                <input type="hidden" name="amount" value="200.00" />
                <input type="hidden" name="discount_amount" value="1.00" />
                <input type="hidden" name="currency_code" value="USD" />
                <input type="hidden" name="return" value=" " />
                <input type="hidden" name="cancel_return" value=" " />
                <input type="submit" name="submit" value="Add to cart" class="button" />
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="tabs mt-lg-5" style="border: 2px solid #EBEBEB !important;">
          <ul class="nav nav-tabs">
            <li class="nav-item text-center">
              <a class="nav-link active" href="#popular" data-toggle="tab">Vehicle Description</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="#specs" data-toggle="tab">Features/Specs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#reports" data-toggle="tab">Inspection Report</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="#pros" data-toggle="tab">Pros/Cons</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link" href="#comment" data-toggle="tab">Comments (7)</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="popular" class="tab-pane active">
              <div style="border: 2px solid #EBEBEB" class="p-3 ">
                <div class="row">
                  <div class="p-3 col-lg-4 text-center">
                    <span class="title "><i class="fa fa-home text-dark"></i></span> <span class="result">ESTORIL Green MET</span>
                  </div>
                  <div class="p-3 col-lg-4 text-center">
                    <span class="title text-center">Exterior Color:</span> <span class="result">ESTORIL Green MET</span>
                  </div>
                  <div class="p-3 col-lg-4 text-center">
                    <span class="title text-center">Interior Color:</span> <span class="result">ESTORIL Green MET</span>
                  </div>
                </div>
                <div class="row">
                  <div class="p-3 col-lg-4">
                    <span class="title">Color Name:</span> <span class="result">ESTORIL Green MET</span>
                  </div>
                  <div class="p-3 col-lg-4">
                    <span class="title">Exterior Color:</span> <span class="result">ESTORIL Green MET</span>
                  </div>
                  <div class="p-3 col-lg-4">
                    <span class="title">Interior Color:</span> <span class="result">ESTORIL Green MET</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="specs" class="tab-pane">
              <p>Recent</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
            </div>
            <div id="reports" class="tab-pane">

              <div class="accordion" id="accordion">
                <div class="card card-default">
                  <div class="card-header">
                    <h6 class="card-title m-0">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1One" aria-expanded="false">
                        Accordion Title 1
                      </a>
                    </h6>
                  </div>
                  <div id="collapse1One" class="collapse" style="">
                    <div class="card-body">
                      <p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
                    </div>
                  </div>
                </div>
                <div class="card card-default">
                  <div class="card-header">
                    <h4 class="card-title m-0">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two" aria-expanded="false">
                        Accordion Title 2
                      </a>
                    </h4>
                  </div>
                  <div id="collapse1Two" class="collapse">
                    <div class="card-body">
                      <p class="mb-0">Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
                    </div>
                  </div>
                </div>
                <div class="card card-default">
                  <div class="card-header">
                    <h4 class="card-title m-0">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1Three" aria-expanded="false">
                        Accordion Title 3
                      </a>
                    </h4>
                  </div>
                  <div id="collapse1Three" class="collapse">
                    <div class="card-body">
                      <p class="mb-0">Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div id="pros" class="tab-pane">
              <p>Recent</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
            </div>
            <div id="comment" class="tab-pane">
              <p>Recent</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //Single Page -->

<!-- middle section -->
<div class="join-w3l1 py-sm-5 py-4">
  <div class="container py-xl-4 py-lg-2">
    <div class="row">
      <div class="col-lg-6">
        <div class="join-agile text-left p-4">
          <div class="row">
            <div class="col-sm-7 offer-name">
              <h6>Smooth, Rich & Loud Audio</h6>
              <h4 class="mt-2 mb-3">Branded Headphones</h4>
              <p>Sale up to 25% off all in store</p>
            </div>
            <div class="col-sm-5 offerimg-w3l">
              <img src="assets/images/off1.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-lg-0 mt-5">
        <div class="join-agile text-left p-4">
          <div class="row ">
            <div class="col-sm-7 offer-name">
              <h6>A Bigger Phone</h6>
              <h4 class="mt-2 mb-3">Smart Phones 5</h4>
              <p>Free shipping order over ₦100</p>
            </div>
            <div class="col-sm-5 offerimg-w3l">
              <img src="assets/images/off2.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- middle section -->
<app-bottombar></app-bottombar>
