.tabs {
  border: 2px solid #EBEBEB !important;
}
.tab-pane {
  padding: 30px;
}
.nav-item {
  width: 20%;
}
.nav-item .nav-link {
  padding: 30px;
  color: #0879c9;
  font-weight: bold;
  background-color: #FAFAFA;

}
.nav-item  .nav-link.active {
  color: #0b0b0b;
  background-color: #ffffff;
}
.nav-tabs .nav-link {
  border: unset;
  border-bottom: 2px solid #EBEBEB;
}
.title{
  color: #7B7B7B;
}
.result{
  color: #000000;
}
.card-title{
  flex-grow: 1;padding: 10px 20px;vertical-align: middle;line-height: 2;
  font-size: 15px;
  /*line-height: 1.9;*/
  color: #999;
}
.card-title a {
  font-size: 15px;
  /*line-height: 1.9;*/
  color: #999;
}
.card-header{
  background: none;
}
.grow{
  flex-grow: 1;
}
.customer-rev{
  padding: 10px 20px;
  vertical-align: middle;
  line-height: 2;
}
span.item_price{
  color: #0879c9;
  font-size: 30px;
}
.product-single-w3l p span {
  margin-right: 10px;
}
