    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of images">


<!--        <img [src]="image?.url || image?.imageUrl" alt="Delhi Metro" height="{{heights || '400px'}}" width="100%">-->
        <img [src]="image?.url || image?.imageUrl" alt="Delhi Metro" [height]="heights" width="100%">
<!--        <picture>-->
<!--          <source [srcset]="image?.url || image?.imageUrl" (error)="handleMissingImage($event)" type="image/webp" media="(min-width: 250px)" width="100%">-->
<!--          <source [srcset]="image?.url || image?.imageUrl" (error)="handleMissingImage($event)" type="image/jpeg" media="(min-width: 250px)" width="100%">-->
<!--          <img [srcset]="image?.url || image?.imageUrl"  (error)="handleMissingImage($event)" alt="Image Unavailable" width="250px">-->
<!--        </picture>-->
        <div class="carousel-caption">
          <h3 style="color: #EDBF00">{{image?.name ||image?.title}}</h3>
          <a class="btn btn-success mx-5" [routerLink]="['/product',image?.id]" *ngIf="link">Shop Now</a>
        </div>
      </ng-template>
    </ngb-carousel>
