<app-topbar></app-topbar>
<!-- banner -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- Indicators-->
<!--  <carousel overflowCellsLimit="3">-->
<!--    <div class="carousel-cell" *ngFor="let media of carLists">-->
<!--      <picture>-->
<!--        <source [srcset]="media?.imageUrl" type="image/webp" media="(min-width: 500px)" width="1000px">-->
<!--        <source [srcset]="media?.imageUrl" type="image/jpeg" media="(min-width: 500px)" width="1000px">-->
<!--        <img [srcset]="media?.imageUrl" alt="Image Unavailable" width="1000px">-->
<!--      </picture>-->
<!--    </div>-->
<!--  </carousel>-->

  <ol class="carousel-indicators">
<!--    <li data-target="#carouselExampleIndicators" data-slide-to="{{media?.id}}" class="active" *ngFor="let media of carLists"></li>-->
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
<!--  <div class="carousel-inner" *ngFor="let media of carLists">-->
  <div class="carousel-inner ">
<!--    <div class="carousel-item item{{media?.id}} active" style="background: url({{media?.imageUrl}})">-->
    <div class="carousel-item item2 active">
      <div class="container">
        <div class="w3l-space-banner">
          <div class="carousel-caption p-lg-5 p-sm-4 p-3">
            <p>advanced
              <span>Wireless</span> earbuds</p>
            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">Best
              <span>Headphone</span>
            </h3>
            <a class="button2" href="product.html">Shop Now </a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item item1 " *ngFor="let media of carLists">
      <div class="container">
        <div class="w3l-space-banner">
          <div class="carousel-caption p-lg-5 p-sm-4 p-3">
            <p>Get flat
              <span>10%</span> Cashback</p>
            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">The
              <span>Big</span>
              Sale
            </h3>
            <a class="button2" routerLink="/product">Shop Now </a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item item3">
      <div class="container">
        <div class="w3l-space-banner">
          <div class="carousel-caption p-lg-5 p-sm-4 p-3">
            <p>Get flat
              <span>10%</span> Cashback</p>
            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">New
              <span>Standard</span>
            </h3>
            <a class="button2" href="product.html">Shop Now </a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item item4">
      <div class="container">
        <div class="w3l-space-banner">
          <div class="carousel-caption p-lg-5 p-sm-4 p-3">
            <p>Get Now
              <span>40%</span> Discount</p>
            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">Today
              <span>Discount</span>
            </h3>
            <a class="button2" href="product.html">Shop Now </a>
          </div>
        </div>
      </div>
    </div>
<!--  </div>-->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- //banner -->

<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
  <div class="container py-xl-4 py-lg-2">
    <!-- tittle heading -->
    <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
      <span>O</span>ur
      <span>N</span>ew
      <span>P</span>roducts</h3>
    <!-- //tittle heading -->
    <app-display [carLists]="carLists"  [carBrands]="carBrands"  [pagination]="pagination"></app-display>
  </div>
</div>
<!-- //top products -->

<!-- middle section -->
<div class="join-w3l1 py-sm-5 py-4">
  <div class="container py-xl-4 py-lg-2">
    <div class="row">
      <div class="col-lg-6">
        <div class="join-agile text-left p-4">
          <div class="row">
            <div class="col-sm-7 offer-name">
              <h6>Smooth, Rich & Loud Audio</h6>
              <h4 class="mt-2 mb-3">Branded Headphones</h4>
              <p>Sale up to 25% off all in store</p>
            </div>
            <div class="col-sm-5 offerimg-w3l">
              <img src="assets/images/off1.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-lg-0 mt-5">
        <div class="join-agile text-left p-4">
          <div class="row ">
            <div class="col-sm-7 offer-name">
              <h6>A Bigger Phone</h6>
              <h4 class="mt-2 mb-3">Smart Phones 5</h4>
              <p>Free shipping order over $100</p>
            </div>
            <div class="col-sm-5 offerimg-w3l">
              <img src="assets/images/off2.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- middle section -->
<app-bottombar></app-bottombar>
