<app-topbar></app-topbar>
<!-- banner -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <app-carousels [images]="carSlider" [heights]="800"></app-carousels>
</div>
<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
  <div class="container py-xl-4 py-lg-2">
    <!-- tittle heading -->
    <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
      <span>O</span>ur
      <span>N</span>ew
      <span>P</span>roducts</h3>
    <app-display [carLists]="carLists"  [carBrands]="carBrands"  [pagination]="pagination"></app-display>
  </div>
</div>
<!-- //top products -->

<app-bottombar></app-bottombar>
